<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sql를 기술하는 공간 -->

<mapper namespace="kr.mang.model.BoardDAO">

	<!-- 게시판 글 목록 쿼리문 -->
	<select id="selectList" resultType="kr.mang.model.BoardVO">
		select BOARD_ID,TITLE,USER_ID
		from BOARD
		order by BOARD_ID desc
	
	</select>

	<!-- 게시판 글 클릭 수 나오는 상세페이지 쿼리 -->
	<select id="detail" parameterType="int" resultType="kr.mang.model.BoardVO">
		select TITLE,BOARD_CONTENT,WRITE_DATE, USER_ID 
		from BOARD 
		WHERE BOARD_ID = #{board_id}

	</select>

	<!-- 물품 판매글 등록 -->
  <insert id="boardinput" parameterType="kr.mang.model.BoardVO">
  	insert into BOARD(BOARD_ID, TITLE, BOARD_CONTENT, VIEW_CONT, WRITE_DATE, USER_ID, B_COMMENT_ID, BOARD_IMG_ID)
  	values(BOARD_ID.nextval, #{title}, #{board_content}, NULL, sysdate, NULL, NULL, NULL)
  </insert>
  
  <insert id="b_imginput" parameterType="kr.mang.model.BoardVO">
  	insert into BOARD_IMG(BOARD_IMG_ID, PATH_IMG, FILE_NAME)
  	values('B'||BOARD_IMG_ID.nextval, NULL,#{file_name})
  </insert>


	
</mapper>