<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- sql를 기술하는 공간 -->

<mapper namespace="kr.mang.model.MemberDAO">
   <!-- namespace 해당하는 mapper 파일을 사용하게 될 DAO이름을 작성해주는 것이 원칙 -->
<insert id="join"  parameterType="kr.mang.model.MemberVO" >
insert into user_info (USER_ID,PW,TEL,AREA,USER_NAME,NICKNAME)
values (#{id}, #{pw}, #{tel}, #{area}, #{name}, #{nickName})
</insert>

<select id="login" parameterType="kr.mang.model.MemberVO" resultType="kr.mang.model.MemberVO">
select user_id,nickname from user_info
where user_id = #{user_id} 
and pw = #{pw}
</select>

<select id="get" resultType="kr.mang.model.MemberVO">
select area 
from user_info A ,board B 
where A.user_id(+) = B.user_id
order by B.board_id desc
</select>
<select id ="getuser" resultType="kr.mang.model.MemberVO" >
select A.area as area, A.user_id as id 
from user_info A , Board B 
where B.board_id = #{board_id} and A.user_id = B.user_id 

</select>


</mapper>