<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL구문 기술하는 공간 -->
<mapper namespace="kr.mang.model.ProductlistDAO">
	<!-- namespace : 해당하는 mapper 파일을 사용하게 될 DAO의 이름을 작성해주는 것이 원칙 -->
	<!-- paramterType : DAO에서 받아오는 데이터가 있을 때 작성 >> 반드시 full name 작성(패키지 명까지) -->
	
	<!-- 등록물품 리스트 -->
	<select id="productlist" resultType="kr.mang.model.ProductlistVO"><!-- resultType은 select할때 사용 -->
  	SELECT A.ITEMS_ID
          ,A.TITLE
          ,A.ITEMS_STATE
          ,A.PRICE
          ,A.UP_DATE   
          ,C.USER_ID
          ,C.AREA
      FROM ITEMS A,USER_INFO C;
     ORDER BY ITEMS_ID DESC;
  </select>
  <!-- 등록물품 상세보기 -->
  <select id="productdetail" parameterType="int" resultType="kr.mang.model.ProductlistVO">
  		SELECT A.ITEMS_ID, A.TITLE, A.ITEMS_STATE, A.PRICE, A.USER_ID, A.UP_DATE, B.ITEMS_IMG_ID, D.TAG_CONT
          FROM ITEMS A LEFT JOIN ITEMS_IMG B ON A.ITEMS_IMG_ID = B.ITEMS_IMG_ID
                       LEFT JOIN USER_INFO C ON A.USER_ID = C.USER_ID
          	           LEFT JOIN TAG_INFO D ON A.TAG_ID = D.TAG_ID
		 WHERE A.ITEMS_ID = A.#{items_id}
  </select>
  <!-- 물품 판매글 등록 -->
  <insert id="productinput" parameterType="kr.mang.model.ProductlistVO">
  	insert into ITEMS(ITEMS_ID, TITLE, ITEMS_STATE, PRICE, UP_DATE, ITEMS_IMG_ID,USER_ID,TAG_ID)
  	values('B'||ITEMS_ID.nextval, #{title}, #{items_state}, #{price}, sysdate,NULL,NULL,NULL)
  </insert>
  
  <insert id="imginput" parameterType="kr.mang.model.ProductlistVO">
  	insert into ITEMS_IMG(ITEMS_IMG_ID, PATH_IMG, FILE_NAME)
  	values('I'||ITEMS_IMG_ID.nextval, NULL,#{file_name})
  </insert>
  
</mapper>