<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL구문 기술하는 공간 -->
<mapper namespace="kr.mang.model.MemberDAO">
	<!-- namespace : 해당하는 mapper 파일을 사용하게 될 DAO의 이름을 작성해주는 것이 원칙 -->
	<!-- paramterType : DAO에서 받아오는 데이터가 있을 때 작성 >> 반드시 full name 작성(패키지 명까지) -->
	<insert id="join" parameterType="kr.mang.model.MemberVO">
		insert into web_member
		values(#{email},#{pw},#{tel},#{address})
	</insert>
	
	<select id="Login" parameterType="kr.mang.model.MemberVO" resultType="kr.mang.model.MemberVO">
		select email,tel,address from web_member where email=#{email} and pw=#{pw}
	</select>
	
	<select id="SelectAll" resultType="kr.mang.model.MemberVO">
		select email,tel,address from web_member where email != 'admin'
	</select>
	
	<select id="emailCheck" parameterType="kr.mang.model.MemberVO"  resultType="java.lang.String">
		select email from web_member where email = #{email}
	</select>
</mapper>